[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[dev-packages]
autoflake = "*"
black = "*"  # Only Python3
isort = "*"
mypy = "*"  # Only Python3.5 or later
invoke = "*"
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"
mock = "*"
twine = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
pre-commit = "*"

[packages]
pyyaml = "*"
six = "*"
schema = "*"
paramiko = "*"

[requires]
python_version = "3.7"
