[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
pytest = "*"
pylint = "*"
twine = "*"

[packages]
"functools32" = "==3.2.3.post2"
pyyaml = "==3.12"
schema = "==0.6.8"

[requires]
python_version = "2.7"
