[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"
pylint = "==1.9.3"
mock = "*"
twine = "*"
coverage = "*"
coveralls = "*"

[packages]
pyyaml = "*"
schema = "*"
paramiko = "*"

[requires]
